{% extends 'master' %}

{% block content %}
    <div class="card">
        <div class="card-block">
            <h2> Descrição dos arquivos relacionados as versões </h2>
        </div>
    </div>
{% endblock %}