{% extends 'master' %}

{% block content %}
    <div class="card">
        <div class="card-block">
            <h2> Olá, {{ currentUser.username }}</h2>
                <div>
                    <a href="versao/create" class="btn btn-warning"> Nova versão </a>
                    <hr>
                </div>
        </div>
    </div>
{% endblock %}